<h2 mat-dialog-title>Lectura Gas</h2>
    <mat-dialog-content>
      <form>
        <div>
          <label>Mes</label>
          <select>
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <!-- Add more months as needed -->
          </select>
        </div>
        <div>
          <label>Nombre archivo</label>
          <input type="text" placeholder="Nombre" />
        </div>
        <div>
          <label>Lectura</label>
          <input type="file" />
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-raised-button color="primary">Subir</button>
    </mat-dialog-actions>