<mat-sidenav-container class="shell-container">
  <mat-sidenav
    #sidenav
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    [opened]="!(isMobile$ | async)"
    class="shell-sidenav"
  >
    <mat-nav-list>
      @for (link of navLinks; track link.path) {
        @if (!link.adminOnly || isAdmin) {
          <a
            mat-list-item
            [routerLink]="link.path"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: link.path === '/' }"
            data-testid="nav-link"
            (click)="closeIfOver(sidenav)"
          >
            <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
            <span matListItemTitle>{{ link.label }}</span>
          </a>
        }
      }
    </mat-nav-list>
    <mat-action-list class="sidenav-footer">
      <button mat-list-item data-testid="logout" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Salir</span>
      </button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isMobile$ | async) {
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="toolbar-title">UrbanAdmin</span>
      <span class="spacer"></span>
      @if (username) {
        <span class="username">{{ username }}</span>
      }
    </mat-toolbar>
    <div class="shell-body">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
